/* ----------------------
    General
-----------------------*/
body {
    background-color: grey;
    text-align: center;
}

#start-button {
    margin-top: 3vh;
}
/* ------------------- */


/* ----------------------
    Video
-----------------------*/
#video-container {
    margin: 20px;
}

#video {
    width: 70vw;
}

#video-solution {
    color: white;
    font-size: xx-large;
}
/* ------------------- */


/* ----------------------
    Start
-----------------------*/
#start-container {

}

#start-button {

}

#spinner {
    display: none;
}
/* ------------------- */


/* ----------------------
    Test
-----------------------*/
#test-container {

}

#post {

}

#get {

}
/* ------------------- */
